<p-toast></p-toast>
<div class="p-card m-5">
  <p-table [value]="cryptos" responsiveLayout="scroll" style-class="p-datatable-striped" scroll-direction="both"
    dataKey="fromCurrency">
    <ng-template pTemplate="caption">
      <div class="flex">
        <div>
        <span>{{cryptos[0].cryptoCurrencyMetadataDto.information}}</span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th colspan="2">From Currency</th>
        <th>To Currency</th>
        <th>Closing Price</th>
        <th>Highest Price</th>
        <th>Lowest Price</th>
        <th>Market Capitalization</th>
        <th>Opening Price</th>
        <th>Time</th>
        <th>Volume</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-currency let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="currency" class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>
          {{currency.fromCurrency}}
        </td>
        <td>
          {{currency.toCurrency}}
        </td>
        <td>
          {{currency.dataPointDto.closingPrice | currency:'RUB'}}
        </td>
        <td>
          {{currency.dataPointDto.highestPrice | currency:'RUB'}}
        </td>
        <td>
          {{currency.dataPointDto.lowestPrice | currency:'RUB'}}
        </td>
        <td>
          {{currency.dataPointDto.marketCapitalization | currency:'RUB'}}
        </td>
        <td>
          {{currency.dataPointDto.openingPrice | currency:'RUB'}}
        </td>
        <td>
          {{currency.dataPointDto.time}}
        </td>
        <td>
          {{currency.dataPointDto.volume | currency: 'RUB'}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-currency>
      <tr>
        <td colspan="3"></td>
        <td colspan="7">
          <p-table>
            <ng-template pTemplate="header">
              <tr>
                <th>Closing Price $</th>
                <th>Highest Price $</th>
                <th>Lowest Price $</th>
                <th>Opening Price $</th>
                <th>Last Refreshed</th>
                <th>Time Zone</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td>
                  {{currency.dataPointDto.closingPriceUsd | currency:'USD'}}
                </td>
                <td>
                  {{currency.dataPointDto.highestPriceUsd | currency:'USD'}}
                </td>
                <td>
                  {{currency.dataPointDto.lowestPriceUsd | currency:'USD'}}
                </td>
                <td>
                  {{currency.dataPointDto.openingPriceUsd | currency:'USD'}}
                </td>
                <td>
                  {{currency.cryptoCurrencyMetadataDto.lastRefreshed}}
                </td>
                <td>
                  {{currency.cryptoCurrencyMetadataDto.timeZone}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
